# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: '^\.asv/results/.+\.json$'
default_stages: [pre-commit]
default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: tests/(rbartpackages/.+\.py|util\.py)$
      - id: trailing-whitespace
        exclude: '^renv/activate\.R$' # because renv edits it automatically, with trailing whitespace
      - id: no-commit-to-branch
  - repo: https://github.com/sbrunner/hooks
    rev: 1.6.1
    hooks:
      - id: copyright
      - id: copyright-required
        files: \.(py|rst)$
        exclude: src/bartz/_version\.py$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.8.3
    hooks:
      - id: pydoclint
  - repo: https://github.com/henryiii/validate-pyproject-schema-store
    rev: 2026.01.22
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint # this is already defined to run in stage commit-msg
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
      - id: uv-lock
